<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <h1>Login</h1> 
   <form method="POST">
    <input type="text" name="email" placeholder="Enter email or username">
      <input type="password" name="pass_word" placeholder="Enter password"/>
         <button type="submit">Login</button>
</form>
</body>
</html>